{% extends "includes/base.html" %}

{% if 'visitor' in request.session %}

{% block title %}Admin Profile{% endblock %}

{% block menu %}
{% include "admin/menu.html" %}
{% endblock %}

{% block content %}
	<script>
	var x='{{err}}';
	if(x){
		alert(x);
	}
	</script>
	<!-- Hey -->
    <!-- {{visitor.Id}} -->
    <!-- {{visitor.Name}} -->
    <style>
    	td{
    		width:200px;
    	}
   	</style>
   	<div class="row">
	   	<div class="col m12" id="bookings">
	   		<div class="row">
	   		<div class="col m12" id="showBooking">
	   		<center><span style="font-size:0.8em;" >Click on any Booking to display details...</span></center>

	   		</div>
	   		</div>
		   	<div class="row">
		   		<div class="col m12">
					<div class="col m12 l12 s12">
				    <table class="striped">
				    <caption><h5> Bookings History </h5></caption>
				    	<tr>
							<th>GNR</th>
							<th>UserId</th>
							<th>RoomId</th>
							<th> Status </th>
							<th>StartTime</th>
							<th>EndTime</th>
						</tr>

					{% for booking in all_bookings %}	
						<tr class='bookings_form'>
							<form method="POST" action="{% url 'administrator:showBooking' %}" 	>
				            {% csrf_token %}
								<input type='hidden' name="showBooking" value="{{booking.GNR}}">
							</form>
							<td>{{booking.GNR}}</td>
							<td>{{booking.UserId}}</td>
							<td>
								{% if booking.getStatus == 'CNF' %}
				                    {{booking.RoomId}}
				                {% else %}
				                     None
				                {% endif %}
							</td>
							<td> {{booking.getStatus}}</td>
							<td>{{booking.StartTime}}</td>
							<td>{{booking.EndTime}}</td>
						</tr>
					{% endfor %}
					</table>
					<br><br><hr>
					</div>
				</div>
				<div class="col m4">

				</div>
			</div>
	   	</div>

   	<div class="col m12" id="users">
   			<div class="row">
	   		<div class="col m12" id="showUser">
	   		<center><span style="font-size:0.8em;" >Click on any Guest to display more details...</span></center>
	   		</div>
	   		</div>
	   	<div class="row">
   			<div class="col m8">
	   			<div class="col m12 l12 s12">
					<table >
				    	<caption><h5> Guests Lists </h5></caption>
				    	<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Password</th>
							<th>Email</th>
							<th>Type</th>
						</tr>

					{% for user in usersList %}	
						<tr class="users_form">
							<form method="POST" action="{% url 'administrator:showUser' %}" >
				            {% csrf_token %}
								<input type='hidden' name="showUser" value="{{user.Id}}">
							</form>
							<td>{{user.Id}}</td>
							<td>{{user.Name}}</td>
							<td>**********</td>
							<td>{{user.Email}}</td>
							<td>{{user.type}}</td>
						</tr>
					{% endfor %}
					</table>
					<br><br><hr>
				</div>
			</div>
			<div class="col m4" >
				<form method="POST" action="{% url 'administrator:addObj' %}" >
        	    {% csrf_token %}

		            <h4>Add User</h4><br>
		            <input type="hidden" name="typeOfObj" value="user">
					Name <input type="text" name='Name' class="validate" required="" aria-required="true">
					Password <input type="password" name='Password' class="validate" required="" aria-required="true">
					Email <input type="email" name='Email' class="validate" required="" aria-required="true">
					<div class="input-field col s12">
		            Type:<select name="type"  class="validate" required="" aria-required="true">

		            	<option value='admin'>Admin</option>
		            	<option value='user'>Guest</option>
		            	</select>
		            </div> 
					<button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Submit
					    <!-- <i class="material-icons right">send</i> -->
					</button>
				</form>
			</div>
		</div>		

   	</div>
   	<div class="col m12" id="rooms">
			<div class="row">
	   		<div class="col m12" id="showRoom">
	   		<center><span style="font-size:0.8em;" >Click on any Room to display more details...</span></center>

	   		</div>
	   		</div>
		<div class="row">
			<div class="col m8">

   				<div class="col m12 l12 s12">

					<table >
				    	<caption><h5> Rooms Lists <h5></caption>
				    	<tr>
							<th>Id</th>
							<th>Cost</th>
							<th>Type</th>
						</tr>

					{% for room in roomsList %}	
						<tr class="rooms_form">
							<form method="POST" action="{% url 'administrator:showRoom' %}" >
				            {% csrf_token %}
								<input type='hidden' name="showRoom" value="{{room.Id}}">
							</form>
							<td>{{room.Id}}</td>
							<td>{{room.Cost}}</td>
							<td>{{room.gettype}}</td>
						</tr>
					{% endfor %}
					</table>
					<br><br><hr>
				</div>
			</div>
			<div class="col m4" >

				<form method="POST" action="{% url 'administrator:addObj' %}" >
	            {% csrf_token %}

	            <h4>Add Room</h4><br>
	            <input type="hidden" name="typeOfObj" value="room">
				Cost <input type="number" min='1' step='1' name='Cost' class="validate" required="" aria-required="true">
				<div class="input-field col s12">
	            Type:<select name="type" class="validate" required="" aria-required="true">

	            	<option value='1'>Unreserved</option>
	            	<option value='2'>Reserved</option>
	            	<option value='3'>Not Available</option>
	            	</select>
	            </div> 
				<button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Submit
				    <!-- <i class="material-icons right">send</i> -->
				</button>
				</form>
			</div>
		</div>
   	</div>
   	</div>
   	
{% endblock %}




{% endif %}