		<table class="striped">
	    	<caption><h5> User Details </h5></caption>
	    	<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Password</th>
				<th>Email</th>
				<th>Type</th>
				<th> Options</th>
			</tr>

			<tr class='bookings_form'>
				<td>{{user.Id}}</td>
				<td>{{user.Name}}</td>
				<td>{{user.Password}}</td>
				<td>{{user.Email}}</td>
				<td>{{user.type}}</td>
				<td>
					<form action="{% url 'administrator:delUser' %}" method="POST">
		            {% csrf_token %}

					<input type="hidden" name="UserId" value="{{ user.Id }}">
					<input type="submit" value=" Delete User " class="btn waves-effect waves-light red darken-4 valign-wrapper">
					</form>


				</td>
			</tr>
		</table>
		<br><br><hr>

	<br>
