<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>
<body>
    {% block menu %}
    {% include "includes/menu.html" %}
    {% endblock %}
    
    {% block content %}{% endblock %}

    {% block footer %}
    <div style="position:ablolute;bottom:0px;width:100%;">
    	<hr>
    	<p>Thanks for visiting my site.</p>
	</div>
    {% endblock %}
</body>
</html>