<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>


{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'basic/css/materialize.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'basic/css/style.css' %}" />
<script type="text/javascript" src="{% static 'basic/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'basic/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'basic/js/script.js' %}"></script>

</head>
<body >
<!-- <img src="{% static 'basic/images/back.jpg' %}" /> -->

    {% block menu %}
    {% include "includes/menu.html" %}
    {% endblock %}
    
    {% block content %}{% endblock %}

    {% block footer %}
    <div style="position:ablolute;bottom:0px;width:100%;">
    	<hr>
    	<p>Thanks for visiting my site.</p>
	</div>
    {% endblock %}


</body>
</html>