<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>


{% load static %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'basic/css/materialize.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'basic/css/style.css' %}" />


</head>
<body >
<!-- <img src="{% static 'basic/images/back.jpg' %}" /> -->

    {% block menu %}
    {% include "includes/menu.html" %}
    {% endblock %}
    
    {% block content %}{% endblock %}

    {% block footer %}

        <footer class="page-footer black" style="position:ablolute;bottom:0px;width:100%;">
          
          <div class="footer-copyright">
            <div class="container" style="text-align: center;">
            <div class="right">Made by Team <b>Pheonix<span style="font-size:2em;"> ( </span><span style="display:inline-block;line-height: 110%;font-size:0.8em;">Amol Thakur : B15CS006<br> Anurag : B15CS041 </span><span style="font-size:2em;"> ) </span></b>
            </div>
            </div>
          </div>
        </footer>


    
    {% endblock %}


{% load static %}
<script type="text/javascript" src="{% static 'basic/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'basic/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'basic/js/script.js' %}"></script>
</body>
</html>