
{% block menu %}

 
  <nav>
    <div class="nav-wrapper red darken-4">
     
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Booking History</a></li>
        <li><a href="collapsible.html">Gallery</a></li>
         <li><a href="collapsible.html">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="{% url 'logout' %}">Logout</a></li>
      	

      </ul>
    </div>
  </nav>
        
{% endblock %}