
{% block menu %}

 
  <nav>
    <div class="nav-wrapper red darken-4">
     
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#Home">Home</a></li>
        <li><a href="#makeBooking">Make Booking</a></li> 
        <li><a href="#bookingHistory">Booking History</a></li>
        <li><a href="#gallery.html">Gallery</a></li>
         <li><a href="#contact">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="{% url 'logout' %}">Logout</a></li>
      	

      </ul>
    </div>
  </nav>
        
{% endblock %}