{% extends "includes/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block menu %}
{% load static %}
<script>
// $(document).ready(function(){
    var x="{{err}}";
    if(x){
        alert(x);
    }
// });
</script>
    <nav class="white " role="navigation" style="height:100px;line-height:100px;">
        <div class="nav-wrapper  valign-wrapper">
        <ul>
        <li><img src="{% static 'basic/images/iitjlogo.png' %}" class="logo responsive-img"></li>
         <li> <a id="logo-container" href="#" class="brand-logo red-text text-darken-4">Guest House Management System</a></li>
          

        </div>
    </nav>
<nav class="red darken-4" role="navigation" style="height:35px;line-height:30px;">
        <div class="nav-wrapper container">
          <ul class="right hide-on-med-and-down">
          <li><a href="#home">Home</a></li>
          <li><a href="#login">Login</a></li>
         <li><a href="#contact">Contact</a></li>
          </ul>
          
          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>


{% endblock %}

{% block content %}

{% load static %}
<!-- <img src="{% static 'basic/images/back.jpg' %} "> -->
    <div class="parallax-container hide-on-small-only scrollspy" id="home">
      <div class="parallax"><img src="{% static 'basic/images/background/newhostels.png' %} "></div>
    </div>
        

<div class="section black white-text text-lighten-2 scrollspy" id="login">

    <div class="container " style="border-radius:20px;">
    <div class="row valign-wrapper">
        <div class="col l6 m6 s12  ">
        <big>Features in IITJ Guesthouse</big>
        
        </div>
        <div class="col l6 m6 s12">
            <div class="row">
                <div class="col m3 center">
                     <i class=" small material-icons">wifi</i><br>Free Wifi
                </div>
                                <div class="col m3 center">
                     <i class=" small material-icons">tv</i><br>TV
                </div>  
                <div class="col m3 center">
                     <i class=" small material-icons">local_dining</i><br>Food
                </div>
                <div class="col m3 center">
                     <i class=" small material-icons">local_hospital</i><br>Health Center
                </div>

            </div>
        </div>
    </div>
    <br><br>
        <b><span >{{err}}</span></b>
    <div class="row white red-text text-darken-4 " >
            <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}

            <div class="input-field col l3 m3 s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" name="username" class="validate" required="" aria-required="true"><label for="username">Username</label>
            </div>
            <div class="input-field col l3 m3 s12">
                <i class="material-icons prefix">security</i>
                <input type="password" name="password" class="validate" required="" aria-required="true"><label for="password">Password</label>
            </div>
            <div class="input-field col l4 m4 s12">
                <i class="material-icons prefix">verified_user</i>
                <select name="type" class="select validate" required="" aria-required="true">
                    <option value='' disabled selected class="option">Choose Account Type</option>
                	<option value='admin' class="option">Admin</option>
                	<option value='user' class="option">Guest</option>
            	</select>
            </div>
            <div class="input-field col l2 m2 s12">
                    <button class="btn waves-effect waves-light red darken-4 valign-wrapper" type="submit" name="action">
                    <i class="material-icons">send</i>Log In
                    </button>
            </div>
            </form>
    </div>
    </div>
  </div>
</div>


<div class="section white center scrollspy " id="contact">

<h3> Contact Us</h3>
<hr>
In case of any problems or queries feel free to contact the admin.
    <div class="row">
        <div class="col m2 hide-on-small-only">
        </div>
        <div class="col m4 s12">
        <img src="{% static 'basic/images/contact/person.jpg' %}" class="responsive-img" style="height:300px;width:auto;"><br>
            Admin1
        </div>
        <div class="col m4 s12">
        <img src="{% static 'basic/images/contact/person.jpg' %}" class="responsive-img" style="height:300px;width:auto;"><br>
            Admin2
        </div>
    </div>
</div>

</div>
{% endblock %}