{% extends "includes/base.html" %}

<!-- {% load staticfiles %} -->


{% if 'visitor' in request.session %}

{% block title %}Guest Profile{% endblock %}

{% block menu %}
{% include "user/menu.html" %}
{% endblock %}

{% block content %}
<script type="text/javascript">
    var x='{{err}}';
    if(x){
        alert(x);
    }
</script>
	<!-- Hey
    {{visitor.Id}}
    {{visitor.Name}}
 -->

{% load static %}
<!-- <img src="{% static 'basic/images/back.jpg' %} "> -->
    <div class="parallax-container hide-on-small-only scrollspy" id="home">
      <div class="parallax"><img src="{% static 'basic/images/background/newhostels.png' %} "></div>
    </div>
        

<div class="section black white-text text-lighten-2 scrollspy" id="login">

    <div class="container " style="border-radius:20px;">
    <div class="row valign-wrapper">
        <div class="col l6 m6 s12  ">
        <big>Features in IITJ Guesthouse</big>
        
        </div>
        <div class="col l6 m6 s12">
            <div class="row">
                <div class="col m3 center">
                     <i class=" small material-icons">wifi</i><br>Free Wifi
                </div>
                                <div class="col m3 center">
                     <i class=" small material-icons">tv</i><br>TV
                </div>  
                <div class="col m3 center">
                     <i class=" small material-icons">local_dining</i><br>Food
                </div>
                <div class="col m3 center">
                     <i class=" small material-icons">local_hospital</i><br>Health Center
                </div>

            </div>
        </div>
    </div>
    <br><br>
    <b><span >{{err}}</span></b>
<div class="row white red-text text-darken-4 " >
			<form action="{% url 'user:search' %}" method="POST">
            {% csrf_token %}

            <div class="input-field col l3 m3 s12">
                <i class="material-icons prefix">account_circle</i>
                <input type="date" class="datepicker" name='checkIn'>
                <label for="checkIn">Select Start Date </label>
            </div>
            <div class="input-field col l3 m3 s12">
                <i class="material-icons prefix">security</i>
                <input type="date" class="datepicker" name='checkOut'>
                <label for="checkOut">Select End Date </label>
            </div>
            <div class="input-field col l4 m4 s12">
                <i class="material-icons prefix">verified_user</i>
                <select name="FoodId">
			      <option value="1" disabled selected>Choose your Food Preference</option>
			      <option value="1">Veg</option>
			      <option value="2">Non Veg</option>
			    </select>
			    <label>Food </label>

            </div>
            <div class="input-field col l2 m2 s12">
                    <button class="btn waves-effect waves-light red darken-4 valign-wrapper" type="submit" name="action">
                    <i class="material-icons">send</i>Search
                    </button>
            </div>
            </form>
    </div>
    </div>
  </div>
</div>

<div class="section white center scrollspy " id="bookings">
<div class="row">
<div class="col m12 l12 s12">

<h3> My Bookings</h3>
<hr>

<table class="striped">
    	<!-- <caption> Bookings History</caption> -->
    	<thead>
    	<tr>
			<th>GNR</th>
			<th>UserId</th>
			<th>RoomId</th>
			<th>FoodId</th>
			<th>StartTime</th>
			<th>EndTime</th>
			<th>AmountReq</th>
			<th>AmountPaid</th>
			<th>Status</th>
			<th>Reason</th>
			<th>BookingTime</th>
            <th> Options </th>
		</tr>
		</thead>

	<tbody>	
	{% for buking in all_bookings %}	
		
		<tr class='bookings_form'>
			<form method="POST" action="{% url 'user:showBooking' %}" class="bookings_form">
            {% csrf_token %}
				<input type='hidden' name="showBooking" value="{{buking.GNR}}">
			</form>
			<td>{{buking.GNR}}</td>
			<td>{{buking.UserId}}</td>
			<td>
                {% if buking.getStatus == 'CNF' %}
                    {{buking.RoomId}}
                {% else %}
                     None
                {% endif %}
            </td>
			<td>{{buking.FoodId}}</td>
			<td>{{buking.StartTime}}</td>
			<td>{{buking.EndTime}}</td>
			<td>{{buking.AmountReq}}</td>
			<td>{{buking.AmountPaid}}</td>
			<td>{{buking.getStatus}}</td>
			<td>{{buking.Reason}}</td>
			<td>{{buking.BookingTime}}</td>
            <td>
                {% if buking.getStatus == 'CNF' or buking.getStatus == 'WL' %}
                        <form action="{% url 'user:cancel' %}" method="POST">
                        {% csrf_token %}

                        <input type="hidden" name="GNR" value="{{ buking.GNR }}">
                        <input type="submit" class="btn waves-effect waves-light red darken-4 valign-wrapper" value="CANCEL BOOKING">
                        </form> 
                        <br>
                {% endif %}
            </td>
		</tr>
	{% endfor %}

	</tbody>
	</table>


</div>

</div>




<div class="section white center scrollspy " id="contact">

<h3> Contact Us</h3>
<hr>
In case of any problems or queries feel free to contact the admin.
    <div class="row">
        <div class="col m2 hide-on-small-only">
        </div>
        <div class="col m4 s12">
        <img src="{% static 'basic/images/contact/person.jpg' %}" class="responsive-img" style="height:300px;width:auto;"><br>
            Admin1
        </div>
        <div class="col m4 s12">
        <img src="{% static 'basic/images/contact/person.jpg' %}" class="responsive-img" style="height:300px;width:auto;"><br>
            Admin2
        </div>
    </div>
</div>

</div>





{% endblock %}




{% endif %}