{% extends "user/profile.html" %}
<!-- {% if 'visitor' in request.session %} -->

{% block content %}
{#roomsList#}

<div class="section row valign-wrapper container">
	<div class="col m2 l2 s12">
					<h5>Make Booking</h5>
	</div>
	<div class="col m6 l6 s12">

		<form method="POST" action="{% url 'user:search' %} ">
	        {% csrf_token %}
			<input type="hidden"  name='checkIn' value="{{postedData.checkIn}}">
			<input type="hidden"  name='checkOut' value="{{postedData.checkOut}}">
		    <input type='hidden' name="FoodId" value="{{postedData.FoodId}}">
		    <div class="input-field col l12 m12 s12">
                <!-- <i class="material-icons prefix">security</i> -->
			<textarea id='Reason' name='Reason' class="materialize-textarea"></textarea><label for="Reason">Reason</label>
            </div>
	</div>
	<div class="col m3 l3 s12">


		  <button class="btn waves-effect waves-light red darken-4 valign-wrapper" type="submit" name="action">Enter WaitList
		    <i class="material-icons right">send</i>
		  </button>
	        
	 </form>
	 </div>
 </div>
 


<center><h4> Change Your Booking Dates</h4></center>
	<table class="striped">
	<thead>
        <tr>
        <th > Room Number</th>
	    {% with roomsList.values|first as data %}
			{%for date,availability in data.items|dictsort:0 %}
	    
	              <th data-field="id">{{date}}</th>
			{%endfor%}
		{% endwith %}
          </tr>
    </thead>


    <tbody>
    {% for roomNo, dates in roomsList.items|dictsort:0%}
   <!--  <div class="row">
    <div class="col"> -->
    	<tr class="roomInfo">	
    		<form action="{% url 'user:search' %} " method="POST">
			{% csrf_token %}
			<input type="hidden" name="checkIn" value="{{postedData.checkIn}}">
			<input type="hidden" name="checkOut" value="{{postedData.checkOut}}">
			<input type="hidden" name="FoodId" value="{{postedData.FoodId}}">

			<th><span style="margin:20px;">RoomNo{{roomNo}}</span></th>

			{%for date,availability in dates.items|dictsort:0 %}

			 <!-- <div class="col date " roomNo="{{roomNo}}" date="{{date}}"> -->
				<!-- <div> -->

	    		<td class="date {{availability}}" name="{{roomNo}}" id="{{roomNo}}_{{date}}">
	    		<div class="box"></div>
	    		</td>
	     	 <!-- </div> -->


			</form>
	     	 
			{%endfor%}
		</tr>
		
	{%endfor%}
	</tbody>
	</table>
<table>
<thead>	
<tr class="check">
<th>Selected RoomId :</th> <td>None</td><th> Selected Check In Date :</th><td> None </td><th> Selected Check Out Date :</th><td> None</td> 
		</tr>

<tr >
	<th >
		<button class="btn waves-effect waves-light red darken-4 valign-wrapper clear" >Clear Selection
	    	<i class="material-icons right">send</i>
		</button>
	</th>
	<th> 
		<button class="btn waves-effect waves-light red darken-4 valign-wrapper bookRoom">Book Room
		    <i class="material-icons right">send</i>
		</button>
</th>
</tr>
	</thead>
	</table>

	<form action="{% url 'user:search' %} " method="POST" id="finalform">
			{% csrf_token %}
			<input type="hidden" name="checkIn" id="checkIn" value="{{postedData.checkIn}}">
			<input type="hidden" name="checkOut" id="checkOut" value="{{postedData.checkOut}}">
			<input type="hidden" name="FoodId" id="FoodId" value="{{postedData.FoodId}}">
	</form>


	<br>
      
{% endblock %}
<!-- {% endif %} -->
